@import url("reset.css");
/*General Styles*/

* {
	margin: 0;
	padding: 0;
	transition: all .1s ease-in;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


html, body {
	min-height:100%;
}

html {
	height: 100%;
	background: #FFF;
}

body {
	font-family: "Tebuchet MC", "Tebuchet", Arial, sans-serif;
	background: #3B3F45;
	border: 10px solid #FFF;
}

header {
	background: #4A4F56;
	color: #EB7E7F;
	text-align: center;
 }

 .wrapper {
 	background:#3B3F45;
 }


ul{
	max-width: 800px;
	margin: 50px auto;
}

label {
	display:block;
	cursor: pointer;
	padding: 5px;
}

input {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}


li {
	display: block;
	color: #FFF;
	font-size: 24px;
	background: #88839E;
	padding: 10px;
}

li:nth-child(2n){
	background: #7A7593;
}

li:hover {
	border: 2px solid #FFF;
	border-width: 2px 0;
	background: #625E77;
}

li:active {
	background: #EB7E7F;
}

input:checked ~ * {
	text-decoration: line-through;
}

h1 {
	font-size: 35px;
	font-weight: bold;
	padding-top: 25px;
}

h4 {
	font-size: 24px;
	padding: 10px 0 25px;
}

footer {
	font-size: 24px;
	background: #4A4F56;
	color: #EB7E7F;
	padding: 10px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.small {
	font-size: 14px;
	color: #A2A1B6;
}

.small:before {
	content: "(";
}

.small:after {
	content: ")";
}

.ba-list{
	vertical-align: middle;
}
